.contentfulContainer {

}

.textbook{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
}

.community{

}

div.community a{

}

#textbookHeader {
	font-size: 3.5em;
}

.header {
	border-bottom: 1px solid #313030;
	padding-bottom: 0.3em;

}


.inline-left{
	display: inline;
	float: left;
	padding: 15px;
}

.inline-right{
	display: inline;
	float: right;
	padding: 15px;
}

.inline-center{
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.icon{
	vertical-align: middle;
	padding: 2px;
	height: 25px;
  	float: none;
}

table {
    width: 75%;
    table-layout: fixed;

    border: solid 1px;
    border-collapse: collapse;
    border-spacing: 0;

	margin-left: auto;
	margin-right: auto;
}

tbody{
	vertical-align: text-top;
}
th {
    height: 50px;
   	border: 1px solid black;
    background-color: #ED1C24;
    color: white;
    font-weight: bold;
}

td{
   	border: 1px solid black;
	padding: 10px;
}

img{
	max-width: 100%;
}

